<style>
    .tm-column {
        flex-grow: 1;
        width: calc(33.33% - 1rem);
        padding: 0.5rem;
    }
</style>


<div style="display: flex; flex-wrap: wrap;">
    <div class="tm-column">
        <img src="https://thomasmore.instructure.com/courses/$course_id$/files/$over_image_id$/preview"
            alt="Over deze cursus">
        $course_introduction$

    </div>

    <div class="tm-column">
        <img src="https://thomasmore.instructure.com/courses/$course_id$/files/$bronnen_image_id$/preview"
            alt="Studiemateriaal">
        <p>Om vlot aan de slag te gaan met de cursus neem je best de <a href="http://ects.thomasmore.be/">ECTS-fiche</a>
            door, Daarnaast vind je hier ook de link
            naar de studiewijzer en de modules.</p>
        <div>
            <a class="btn" id="studiewijzer" title="Studiewijzer"
                href="/courses/$course_id$/modules/$studiewijzer_module_id$">Studiewijzer</a>
            <a class="btn" title="Studiewijzer" href="/courses/$course_id$/modules">Modules</a>
        </div>
    </div>

    <div class="tm-column">
        <img src="https://thomasmore.instructure.com/courses/$course_id$/files/$contact_image_id$/preview"
            alt="Contactpersonen">
        <p>Heb je vragen over onze cursus? Neem gerust contact met ons op via onderstaande
            gegevens. De docenten staat klaar om al je vragen te beantwoorden en je te voorzien van de benodigde
            informatie.</p>
        <ul>
            $contact$
        </ul>
    </div>
</div>

<div style="width: 100%;">
    <img style="width: 100%;"
        src="https://thomasmore.instructure.com/courses/$course_id$/files/$banner_image_id$/preview"
        alt="Thomas More banner">
</div>