<style>
  .tm-column {
    flex-grow: 1;
    width: calc(33.33% - 1rem);
    padding: 0.5rem;
  }

  .tm-column__header {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-left: -.5rem;
  }

  .tm-column__header h3 {
    margin: 0;
    color: #00283C;
    font-weight: bold;
  }

  .tm-column__header img {
    width: 3rem;
    height: 3rem;
    object-fit: cover;
    margin-right: 0.5rem;
  }
</style>

<div style="display: flex">
  <div class="tm-column">
    <div class="tm-column__header">
      <img src="https://thomasmore.instructure.com/courses/$course_id$/files/$info_icon_id$/preview" alt="Icoon info">
      <h3>Over deze cursus</h3>
    </div>
    <p>$course_introduction$</p>
  </div>

  <div class="tm-column">
    <div class="tm-column__header">
      <img src="https://thomasmore.instructure.com/courses/$course_id$/files/$list_icon_id$/preview" alt="Icoon lijst">
      <h3>Vlot aan de slag</h3>
    </div>
    <p>Om vlot aan de slag te gaan met de cursus neem je best de <a href="http://ects.thomasmore.be/">ECTS-fiche</a> door, Daarnaast vind je hier ook de link naar de studiewijzer en de modules.</p>
    <div>
      <a class="btn" id="studiewijzer" title="Studiewijzer" href="/courses/$course_id$/modules/$studiewijzer_module_id$">Studiewijzer</a>
      <a class="btn" title="Modules" href="/courses/$course_id$/modules">Modules</a>
    </div>
  </div>

  <div class="tm-column">
    <div class="tm-column__header">
      <img src="https://thomasmore.instructure.com/courses/$course_id$/files/$person_icon_id$/preview" alt="Icoon contact">
      <h3>Contactgegevens docent(en)</h3>
    </div>

    <p>
      Heb je vragen over onze cursus? Neem gerust contact met ons op via onderstaande gegevens. De docenten staat klaar om al je vragen te beantwoorden en je te voorzien van de benodigde informatie.
    </p>
    <ul>
      $contact$
    </ul>
  </div>
</div>

<div style="width: 100%">
  <img style="width: 100%" src="https://thomasmore.instructure.com/courses/$course_id$/files/$banner_image_id$/preview" alt="Thomas More banner" />
</div>
